* {
  font-family: 'Roboto', sans-serif;
}

.fa-caret-down {
  padding-left: 2px;
}

.color_white {
  color: white;
}

.color_blue {
  color: #0045C4;
}

.background_blue {
  background-color: #0045C4;
}

/* fixed_header contents */
.fixed_header {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  background-color: white;
  border: 1px solid lightgrey;
  box-shadow: 2px 2px 2px lightgrey;
  z-index: 1;
}

.container1 {
  /* background-color: red; */
  width: 90%;
  margin: 0 5%;
  height: 100%;
}

.brand_section {
  /* background-color: grey; */
  height: 100%;
}

.logo > a img {
  width: 150px;
  height: 100%;
  margin-top: 15px;
}

.navbar-nav > li > a {
  color: #031B4E;
}

.leftitem_section, .rightitem_section{
  padding-top: 5px;
  height: 100%;
  /* background-color: blue; */
}

.hamburgher_menu {
  display: none;
  font-size: 20px;
  padding: 8px 30px;
  border: 1px solid #044FC8;
  border-radius: 3px;
  color: #044FC8;
  margin-top: 6px;
  transition: 1s;
}

.hamburgher_menu:hover {
  color: white;
  background-color: #044FC8;
  border-radius: 100%;
}

@media screen and (max-width: 1116px) {
   .navbar_right {
    display: none;
  }
  .hamburgher_menu {
    display: inline-block;
    margin-left: 50%;
    line-height: 15px;
  }
}

@media screen and (max-width: 964px) {
  .navbar_left {
    display: none;
  }
}

.navbar-nav > li > .tasto {
  border: 1px solid #044FC8;
  padding: 5px 10px;
  margin-top: 10%;
  margin-left: 5px;
  border-radius: 3px;
  color: #044FC8;
  transition: 1s;
}

.navbar-nav >li > .tasto:hover {
  background-color: #044FC8;
  color: white;
}
/* Fine fixed_header */

/* inizio container2 */
.container2 {
  width: 100%;
  background-color: #0146C4;
  height: 800px;
  margin-top: 60px;
  padding-top: 40px;
}
.jumbotron {
 height: 80%;
 background-color: yellow;
}

.jumboright {
  background-color: red;
}

.input_form > input {
  width: 100%;
  border-radius: 3px;
  border-style: none;
  height: 40px;
  padding-left: 5%;
  margin-top: 2%;
}
.input_form > a {
  display: block;
  width: 100%;
  height: 40px;
  margin-top: 2%;
}

.input_form > a img {
  height: 20px;
  padding-left: 5%;
}


.form_buttons {
  border: 1px solid #044FC8;
  border-radius: 3px;
  padding-top: 2%;
  /* transition: 1s; */
}
